__pycache__/Functions.cpython-37.pyc
__pycache__/layer.cpython-37.pyc
__pycache__/Model.cpython-37.pyc
FilteringWORKS.png
__pycache__/Functions.cpython-37 (16.96.194.dhcp.bnf.brain.riken.jp's conflicted copy 2020-12-28).pyc
__pycache__/noise.cpython-37.pyc
__pycache__/smoothNoise.cpython-37.pyc
